{
  "server": "irc.freenode.net",
  "nick": "conejo--",
  "ident": "conejo",
  "gecos": "Soy amigable",
  "password": "",
  "sasl": "false",
  "sasl_username": "",
  "sasl_password": "",

  "talk": true,
  "replyrate": 5,
  "followinvites": true,
  
  "owners": ["wikimedia/Polsaker", "unaffiliated/ravioli"],

  "channels": {
    "#donger": {
      "talk": true,
      "replyrate": 10
    },
    "#otherchannel":{
      "talk": false
    }
  }
}
    
